::placeholder {
    text-align: center; 
}
 
::-webkit-input-placeholder {
    text-align: center;
}
 
:-moz-placeholder { /* Firefox 18- */
    text-align: center;  
}
 
::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
}
 
:-ms-input-placeholder {  
    text-align: center; 
}

*{
    padding: 0;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.wrap{
    width: 650px;
    height: 450px;
    background-color: rgb(72, 156, 193);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 500px;
    height: 400px;
    background-color: rgb(252, 252, 252);
    padding: 10px 30px;
}

.titleArea{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.title{
    font-size: 30px;
    font-weight: bold;
    color: #555;
    text-shadow: 1px 1px 5px skyblue;
}

.addListArea{
    width: 100%;
    height: 40px;
}

.addListArea::after{
    clear: both;
}

.input{
    display: block;
    width: 85%;
    height: 100%;
    float: left;
    border: 1px solid rgb(72, 156, 193);
    outline: rgb(72, 156, 193);
    font-size: 20px;
    text-align: center;
}

.addList{
    display: flex;
    width: 12%;
    height: 100%;
    float: right;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 156, 193);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    cursor: pointer;
}

.listArea{
    width: 100%;
    height: 240px;
    overflow-y: auto;
}

table{
    width: 100%;
    margin: 10px 0;
    border: 0;
    border-collapse: collapse;
}

tr{
    width: 100%;
    height: 30px;
    border-top: 1px solid lightgray;
}

tr:last-of-type{
    border-bottom: 1px solid lightgray;
}

tr:nth-child(even){
    background-color: rgb(249, 253, 255);
}
tr:nth-child(odd){
    background-color: rgb(240, 249, 255);
}

td{
    height: 30px;
    color: rgb(72, 156, 193);
}

td:nth-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

td:nth-of-type(3), td:nth-of-type(4){
    text-align: center;
}

.checkbox{
    display: inline-block;
}

.checkbox, i{
    cursor: pointer;
}

.summaryArea{
    width: 100%;
    height: 40px;
}

.summaryBar{
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    width: 45%;
    height: 100%;
}

.summaryBar>.bar{
    position: absolute;
    left: 0;
    background-color: lawngreen;
    background-repeat: no-repeat;
    height: 100%;
}

.summaryBar>span{
    color: gray;
    z-index: 1;
}

.removeChecked{
    float: right;
    display: block;
    width: 40%;
    height: 100%;
    border: 0;
    background-color: rgb(72, 156, 193);
    color: white;
    cursor: pointer;
}

.removeChecked>span{
    margin: 0 -5px 0 5px;
    font-weight: bold;
}