body {
    text-align: center;
    margin: 0;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.neon {
    font-family: neon;
    color: #FB4264;
    /* font-size: 9vw; */
    /* line-height: 9vw; */
    text-shadow: 0 0 3vw #F40A35;
}
  
  .flux {
    font-family: neon;
    color: #426DFB;
    /* font-size: 9vw; */
    /* line-height: 9vw; */
    text-shadow: 0 0 3vw #2356FF;
}

.neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
}

    @keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 5vw #FA1C16, 0 0 5vw #FA1C16, 0 0 .4vw #FED128, 0vw 0vw 0vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 3vw #800E0B, 0 0 3vw #800E0B, 0 0 .2vw #800E0B, 0vw 0vw .1vw #40340A;
        color: #806914;
    }
}

    .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
}

@keyframes flux {
    0%,
    100% {
        text-shadow: 0 0 0vw #1041FF, 0 0 3vw #1041FF, 0 0 5vw #1041FF, 0 0 5vw #1041FF, 0 0 .4vw #8BFDFE, 0vw 0vw .1vw #147280;
        color: #28D7FE;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 3vw #082180, 0 0 3vw #082180, 0 0 .2vw #082180, 0vw 0vw .1vw #0A3940;
        color: #146C80;
    }
}

ul {
    list-style-type: none;
    display : flex;
    width : 280px;
    margin : auto;
    padding: 0;
}

ul>li {
    padding : 10px;
}

ul>li>a {
    text-decoration: none;
    width: 80px;
    display: inline-block;
}

.menuBox {
    display: flex;
    flex-wrap: wrap;
}

.menuBox div {
    display: inline-block;
    margin: 5px;
}

.menuItem {
    width: 300px;
    height: 150px;
    background-color: lightgrey;
    cursor: pointer;
    color: white;
    padding : 5px;
}

.menuItem:hover {
    background-color: gray;
}

.button {
    margin-top: 5px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    background-color: khaki;
    font-weight: bold;
}